@import '../base/settings';

$node-minWidth: 100px;
$node-status-width: 24px;

$node-firstLine-fontSize: 14px;
$node-secondLine-fontSize: 12px;

.graphPreview {
    position: relative;
    z-index: 0;
}

.graph {
    left: - $container-padding;
    top: - $container-padding;
    position: absolute;
    overflow: hidden;
    width: calc(100% + #{$container-padding * 2});
      
    text {
        font-size: $node-firstLine-fontSize;
        font-weight: normal;
    }

    .label {
        line-height: 1.4;
        font-size: 100%;
        text-align: left;
        font-weight: normal;
        font-family: Consolas;
    }

    .node rect {
        stroke-width: 1.5px;
        stroke: #bbb;
        fill: #666;
    }

    .external rect {
        stroke: #bbb;
        fill: #635f13;
    }

    .status {
        height: 100%;
        width: 15px;
        display: block;
        float: left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 4px;
    }

    .running .status {
        background-color: #7f7;
    }

    .running.warn .status {
        background-color: #ffed68;
    }

    .stopped .status {
        background-color: #f77;
    }

    .warn {
        animation-duration: 5s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-name: flash;
     
        .queue {
            color: #f77;
        }
    }

    .name {
        margin-top: 4px;
    }

    .queue {
        display: block;
        float: left;
        width: $node-minWidth - $node-status-width;
        height: 20px;
        font-size: $node-secondLine-fontSize;
        margin-top: 2px;
    }

    .node g div {
        min-width: 100px;
        height: 40px;
        color: #fff;
        
        span.consumers {
            display: inline-block;
            width: 20px;
        }
    }

    .edgeLabel text {
        width: 50px;
        fill: #fff;
    }

    .edgePath path {
        stroke: #999;
        stroke-width: 1.5px;
        fill: #999;
    }
}