

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.2;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.2;
    }
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.graph {
    width: 100%;
    height: 100%;
    background: #333;
  
    .warn {
        animation-duration: 5s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    text {
        font-weight: 300;
        font-size: 14px;
    }

    .label {
        line-height: 1.4;
        font-size: 100%;
        text-align: left;
        font-weight: normal;
        font-family: Consolas;
    }

    .node rect {
        stroke-width: 1.5px;
        stroke: #bbb;
        fill: #666;
    }

    .external rect {
        stroke: #bbb;
        fill: #635f13;
    }

    .status {
        height: 100%;
        width: 15px;
        display: block;
        float: left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 4px;
    }

    .running .status {
        background-color: #7f7;
    }

    .running.warn .status {
        background-color: #ffed68;
    }

    .stopped .status {
        background-color: #f77;
    }

    .warn {
        animation-name: flash;
     
        .queue {
            color: #f77;
        }
    }

    .name {
        margin-top: 4px;
    }

    .queue {
        display: block;
        float: left;
        width: 130px;
        height: 20px;
        font-size: 12px;
        margin-top: 2px;
    }

    .node g div {
        width: 200px;
        height: 40px;
        color: #fff;
    }

    .node g div span.consumers {
        display: inline-block;
        width: 20px;
    }

    .edgeLabel text {
        width: 50px;
        fill: #fff;
    }

    .edgePath path {
        stroke: #999;
        stroke-width: 1.5px;
        fill: #999;
    }
}