@import './settings';

.container-fluid {
    padding: $container-padding;
}
// Main content

.main {
    padding: $main-padding;

    transition: margin-left linear .2s;
    &.expanded {
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .main {
        padding-right: $main-wider-sidePadding;
        padding-left: $main-wider-sidePadding;
    }
}

.page-header {
    margin-top: 0;
}

.hidden {
    display: none;
}