
h3.page-header Home
small
    | Welcome to 
    strong #{title}
hr
.row
    .col-xs-8
        .btn.btn-primary New project
        | &nbsp;
        .btn.btn-info Import

    .col-xs-3
        h4 Recent
        p ...