
h3.page-header Home
p
    | Welcome to 
    strong {{ title }}
hr
.row
    .col-sm-8
        .btn.btn-primary(ng-click="newProject()") New project
        | &nbsp;
        .btn.btn-info(ng-click="importProject()") Import

    .col-sm-4(ng-controller='recentProjectsController')
        ul.nav.nav-sidebar
            li.nav-header Recent

            li(ng-repeat='project in projects')
                a(href='project.path') {{ project.name }}