
h3.page-header New Project
small Choose name and location for new project
    
hr
.row
    .col-xs-12
        input.form-control(type='text', placeholder='Choose project name')
        input.form-control(type='text', placeholder='Choose location')
        br
        .btn.btn-success.create-project Create
        | &nbsp;
        .btn.cancel Cancel