

div(ng-controller='projectViewController')
    
    .projectControls
        .btn.btn-default.btn-sm(ng-click='toggleOptions()')
            i.glyphicon.glyphicon-cog
        | &nbsp;
        .btn.btn-default.btn-sm(ng-click='refresh()')
            i.glyphicon.glyphicon-refresh
        | &nbsp;
        .btn.btn-default.btn-sm(ng-click='toggleNotes()')
            i.glyphicon.glyphicon-comment
        | &nbsp;
        .btn.btn-default.btn-sm(ng-click='expand()', ng-show='!expanded')
            i.glyphicon.glyphicon-resize-full
        .btn.btn-default.btn-sm(ng-click='collapse()', ng-show='expanded')
            i.glyphicon.glyphicon-resize-small
    

    .projectOptions(ng-show='options.visible')
        hr
        .row
            form.col-xs-12(name='optionsForm')

                .form-group(ng-class='{ "has-error" : optionsForm.files.$invalid && !optionsForm.files.$pristine }')
                    label.control-label Files
                    textarea.form-control(name='files', ng-model='options.files', required="required", placeholder='Source files', autofocus='autofocus')
            
                .checkbox
                    label
                        input(type='checkbox', name='showEmptyItems', ng-model='options.showEmptyItems') 
                        | Show empty blocks
                
                .checkbox
                    label 
                        input(type='checkbox', name='verbose', ng-model='options.verbose') 
                        | Verbose mode

                input.btn.btn-success(type='button', ng-click='saveOptions()', value='Save')
                | &nbsp;
                .btn.btn-default(ng-click='toggleOptions()') Cancel
    
    .projectModel(ng-show='model.visible')
        hr
        pre.dotFilePreview {{ dotFile }}

    .projectNotes(ng-show='notes.visible')
        hr
        .row
            form
                .form-group
                    label.control-label Notes
                    textarea.form-control(ng-model='project.notes', placeholder='Notes')
            
                

    