doctype
html
    head
        include layout/_styles3rdParty
        include layout/_styles
        
    body(ng-app='app')
        .container-fluid
          .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li.active
                        a(href='#') 
                            i.glyphicon.glyphicon-home
                            | &nbsp; Home

                    li.divider

                    li.nav-header Projects

                    li
                        a(href='#') Untitled_1
                    li
                        a(href='#') Untitled_2

                    

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ng-controller='introController')
                h3.page-header Loading...
                
            form.quick-search(ng-controller="searchController")
                input.form-control(type='text', placeholder='Search...')


        
        include layout/_scripts3rdParty
        include layout/_scripts