doctype
html
    head
        include views/assets/_styles3rdParty
        include views/assets/_styles
        
    body(ng-app='app')
        
        .main
            h3 Loading...
        
        include views/assets/_scripts3rdParty
        include views/assets/_scripts