
script(type='text/javascript', src='js/system/Start.js')
script(type='text/javascript', src='js/system/ContextMenu.js')
script(type='text/javascript', src='js/system/ErrorHandler.js')
script(type='text/javascript', src='js/system/GlobalExceptionHandler.js')

script(type='text/javascript', src='js/app.js')

script(type='text/javascript', src='js/controlPanel/ControlPanelController.js')
script(type='text/javascript', src='js/controlPanel/SearchController.js')

script(type='text/javascript', src='js/graphs/GraphPreviewController.js')

script(type='text/javascript', src='js/intro/IntroController.js')
script(type='text/javascript', src='js/intro/RecentProjectsController.js')

script(type='text/javascript', src='js/navigation/MainViewService.js')
script(type='text/javascript', src='js/navigation/SidebarController.js')

script(type='text/javascript', src='js/projects/CurrentProjectService.js')
script(type='text/javascript', src='js/projects/NewProjectController.js')
script(type='text/javascript', src='js/projects/ProjectListService.js')
script(type='text/javascript', src='js/projects/ProjectModel.js')
script(type='text/javascript', src='js/projects/ProjectOptionsController.js')
script(type='text/javascript', src='js/projects/ProjectRepositoryService.js')

script(type='text/javascript', src='js/utils/nwFileDialog.js')