
script(type='text/javascript', src='js/system/Start.js')
script(type='text/javascript', src='js/system/ContextMenu.js')
script(type='text/javascript', src='js/system/ErrorHandler.js')
script(type='text/javascript', src='js/system/GlobalExceptionHandler.js')

script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/intro/IntroController.js')

script(type='text/javascript', src='js/projects/ProjectController.js')
script(type='text/javascript', src='js/projects/NewProjectController.js')
script(type='text/javascript', src='js/projects/ProjectListService.js')
script(type='text/javascript', src='js/projects/ProjectNavigationService.js')
script(type='text/javascript', src='js/projects/RecentProjectsController.js')

script(type='text/javascript', src='js/sidebar/SidebarController.js')
script(type='text/javascript', src='js/search/SearchController.js')
script(type='text/javascript', src='js/utils/MainViewService.js')