
div.container(ng-controller='mainController')
    div.content
        div.page-header
            h1 Main Page
            small Welcome to {{ test }}
    div.row
        div.col-xs-8
            h2 Page Content
        div.col-xs-4
            h3 Secondary Content